

:root {
    --primery-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
   
   
   
    --backgraund1: #2F303A;
    --background3: #F5F4FA;


    --main-font: Roboto;
    --secondary-font: Raleway

}

.body {
    color: var(--primery-text-color); 
    font-family: var(--main-font), sans-serif;   
}

.list {
    list-style: none;  
}

.link {
    text-decoration: none;
}

.title{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
}

/* Header */

.heder-link{
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: initial;
}
.heder-link:hover,
.heder-link:focus{
    color: var(--accent-color);   
}

.current {
    color: var(--accent-color);
}

.heder-link-contact {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}

.heder-link-contact:hover,
.heder-link-contact:focus{
    color: var(--accent-color);
}
.logo-accent {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-main-dark {
font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--primery-text-color)
}

.logo-main-light{
font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--white-color)
}



/* HERO */

.hero{
    background-color: var(--backgraund1);
}
.mail-title{
    font-weight: 900;
    color: var(--white-color);
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase
    
}

.hero-btn{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    background-color: var(--accent-color) ;
    color: var(--white-color);
    cursor: pointer;
}

/* Benefist */

.benefist-title{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 /14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefist-desc{
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--text-color);
}




/* TEAM */
    .team{
    background-color: var(--background3);
}

.team-item{
    background-color: var(--white-color);
}
.team-images{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
}
.team-desc{
line-height: calc(19 / 16);
text-align: center;
letter-spacing: 0.03em;
 color: var(--text-color);
}

/* FOOTER */

.footer{
    background-color: var(--backgraund1);
}

.contact-address-desc{
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--white-color);
}

.contact-link {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
    
.contact-link:hover,
.contact-link:focus {
    color: rgba(33, 150, 243, 0.6);
}


/* Portfolio */

.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.portfolio-desc{
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.portfolio-bnt-current {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.portfolio-btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}



